@import './../../../css/variable';

.header {
  height: 350px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.headerContent {
  background: linear-gradient(180deg,rgba(44,54,66,0) 15%,#2c3642);
  position: absolute;
  bottom: 0;
  padding: 0 2em 1em 2em;
  width: 100%;
}


