// BRAND COLOURS
  $-BRAND-color-1: #00d19b;
  $-BRAND-color-2: #fbf95d;
  $-COLORS-body-color: #ececec;
  $-COLORS-steady-grey: #777;

// FONT
  $-FONT-mornal-size: 1em;
  $-FONT-normal-color: #555;

// BREAK POINT
  $-BREAKPOINT-not-mobile: 48em;
  $-BREAKPOINT-990: 60em;

// FILTERS
  $-SIZES-filter-height: 3em;

//BTN
  $-BUTTON-bg: #e0c900;
  $-BUTTON-color: white;
  $-BUTTON-padding:0.3em 0.5em;
  $-BUTTON-border-radius:.2em;


